.bg{
    background: var(--color3);
     height: 65rem;
 
 }

@media (min-width:768px){
    .bg{
        background: var(--color3);
         height: 100vh;
     
     }
     
}



@media (min-width:768px){
    
.bg{
    background: rgb(82,209,177);
    background: linear-gradient(0deg, rgba(82,209,177,1) 30%, rgba(8,99,224,1) 83%);
    padding: 3rem;
height: 39rem;
    position: relative;
}
}


/*.bg::after{
    content: '';
 bottom: 0;

    left: 0;
    position: absolute;
    width: 100%;
    background: white;
    height: 10rem;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);

}*/

.parrafo{
    font-size: 1.7rem;
    font-family: 'roboto';
    line-height: 1.6;
    color: white;
    
}

.titulo{
    font-size: 3rem;
    color: white;
text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: var(--color4);
    text-shadow: 1px 0px 0px rgba(0,0,0,0.6);
    line-height: 1.5;
    font-weight: bold;
}
@media (min-width:768px){
    .titulo{
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 3rem;
        color: var(--color4);
        text-align: start;
        text-shadow: 1px 0px 0px rgba(0,0,0,0.6);
        line-height: 1.5;
        font-weight: bold;
        font-size: 5rem;
    }
}




.contenedorServices{
   
    max-width: 120rem;
    margin: 0 auto;
}

.gridCajas{

    display: grid;
    grid-template-columns: repeat( 1fr);
  
    grid-gap: 2.6rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 0rem;

 
}

@media (min-width:578px){
    .gridCajas{

        display: grid;
        grid-template-columns: repeat( 1fr);
      
        grid-gap: 2.6rem;
        width: 100%;
        margin: 0 auto;
        margin-top: -5rem;
    
     
    }
}


@media (min-width:768px){
    .gridCajas{

        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: minmax(100px, 1fr);
        grid-gap: 2.6rem;
       max-width: 120rem;
        margin: 0 auto;
        margin-top: -13rem;
     
    }


    .caja:nth-child(1){
        grid-column: 1/span 2;
        grid-row: 1;
    }
    
    .caja:nth-child(2){
        grid-column: 3/span 2;
        grid-row: auto;
    }
    
    .caja:nth-child(3){
        grid-column: 1/span 3;
    }
    
    .caja:nth-child(4){
        grid-column: 4/-1;
        grid-row: 2;
        
    }
    
    .caja:nth-child(5){
        grid-column: 1/span 4;
        
    }
    
    .caja:nth-child(6){
        grid-column: 5/-1;
        grid-row: 3;
        
        
    }
    





}

.caja{
    background: var(--color1);
    padding: 2rem;

    border-radius: 10px;
    box-shadow: 0 7px 20px rgba(100, 28, 2, 0.135);
    position: relative;
    margin-top: 2rem;
    transition: all .3s ease;
}


@media (min-width:768px){
    
    .caja{
        background: var(--color1);
        padding: 4rem;
        border-radius: 25px;
        box-shadow: 0 7px 20px rgba(100, 28, 2, 0.135);
        position: relative;
        margin-top: 2rem;
        transition: all .3s ease;
    }
}




.caja:hover{
    background: var(--color3)   
    ;
    cursor: pointer;
    color: white;
}





.image{
    position: absolute;
    bottom: 0;
    right: 0;
 
    padding: 1rem;
background: var(--color2);
 border-radius: 25px 0px;
}


.imgLink{
 color: white;

}



.figureGrid{
    display: grid;
    grid-template-columns: 1fr ;
    
 
   

}

.contenedorTitle{
    order: 2;
}

.contenedorImg{
    order: 1;
}


@media (min-width:768px){
    .figureGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
     
       
    
    }

    .contenedorTitle{
        order: 1;
    }

    .contenedorImg{
        order: 2;
    }

}




.title{

    margin: 1rem 0rem;
    font-size: 2.7rem;
    font-weight: bold;
    color: var(--color4);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
  


}

.contenedorTitle{
    margin-top: 7rem;
}

.contenedorImg{
    margin: 0 auto;


   
}

.imgFigura{
    height: 300px;
    margin: 0 auto;
     width: 100%;
     display: block;
    
     z-index: 4;
     object-fit: cover;
     object-position: center;
 
 
     position: relative;
 }
@media (min-width:768px){
    .imgFigura{
        height: 400px;
        margin: 0 auto;
         width: 100%;
         display: block;
        
         z-index: 4;
         object-fit: cover;
         object-position: center;
     
     
         position: relative;
     }
}




.content{
    color: white;   
    font-family: 'roboto';
    font-weight: 300    ;
    line-height: 1.6;
}

