.contenedorFooter{
    background: rgb(36,144,201);
    background: linear-gradient(90deg, rgba(36,144,201,1) 0%, rgba(8,99,224,1) 39%, rgba(82,209,177,1) 62%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    padding: 1.5rem 0rem;
}

.imagen{
    padding: 2rem 0rem;
    width: 24rem;
    object-fit: cover;
    object-position: center;
   
}

.parrafo{
    color: white;
    font-size: 1.8rem;
    font-family: 'roboto';
    font-weight: 500    ;
}